@import "../../../../theme/variables";
@import "../../../../../node_modules/uikit/src/scss/variables-theme.scss";

.uk-grid {
  margin: 0 -5px;

  .indicator {
    height: 5px;
    margin: 0 5px;

    &.very-weak {
      background-color: $global-danger-background !important;
    }

    &.weak {
      background-color: $global-warning-background !important;
    }

    &.strong {
      background-color: $global-success-background !important;
    }
  }
}

