<div #guidanceAlert class="uk-alert-primary" uk-alert>

  <h4 class="uk-margin-small-bottom uk-text-bold uk-text-uppercase">Tag Guidance</h4>
  <h6 class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold">Thanks for contributing to The Mini Index!</h6>

  <p class="uk-margin-remove-top uk-text-small">We have some guidelines written about how to make your tags great, please read through them <a class="uk-text-bold uk-text-info" href="https://github.com/aluhrs13/TheMiniIndex/wiki/How-to-tag-Minis" target="_blank">here</a>. At a minimum, please make sure you include the genre, use, and any notable descriptions like the creature's name and type or race and gender. Your Mini and tags will show up once a moderator gets a chance to look and approve it. If you're submitting a bunch of Minis from a single creator, we'll approve at most a few a day to not flood the front page with a single creator. See <a class="uk-text-bold uk-text-info" href="https://github.com/aluhrs13/TheMiniIndex/wiki/How-Approval-Works" target="_blank">this page</a> for more information on our approval process, and feel free to email admin@theminiindex.com with any questions.</p>
  <p class="uk-margin-remove-top uk-text-small uk-text-bold">We're also experimenting with automatic tag additions, when adding a tag you may notice more tags than the one you clicked getting added. Feel free to remove those, and if they appear extremely wrong, hit the "Something's wrong" button below and let us know what you don't like!</p>

  <p uk-margin>
    <button class="uk-button uk-button-default uk-button-small" (click)="closeAlert()">Close</button>
  </p>

</div>

<h2 class="uk-text-center uk-margin-top">Coming Soon!</h2>
