<ng-container *ngIf="thing && files else loadingDetails;">

  <a [attr.uk-toggle]="'target: #thingiverse-details-' + thing.id" class="uk-button uk-button-large uk-button-info uk-width-1-1">{{ 'thingiverseDetails.details' | translate }} </a>

  <div id="thingiverse-details-{{ thing.id }}" uk-offcanvas="overlay: true; mode: none;">

    <div class="uk-offcanvas-bar uk-width-1-1 uk-padding-remove">

      <a class="uk-offcanvas-close"><fa-icon [icon]="'times'"></fa-icon></a>

      <div class="uk-grid-match uk-grid-collapse" uk-grid>

        <div class="uk-width-3-5@m uk-background-muted">

          <div uk-height-viewport>

            <dl class="uk-description-list-divider">
              <dt class="uk-padding-small uk-padding-remove-bottom uk-text-bold uk-text-small uk-text-uppercase"><fa-icon [icon]="'bullseye'"></fa-icon> {{ 'thingiverseDetails.name' | translate }}</dt>
              <dd class="uk-padding-small uk-padding-remove-vertical uk-margin-small-bottom uk-text-small">{{ thing.name }}</dd>
              <dt class="uk-padding-small uk-padding-remove-bottom uk-text-bold uk-text-small uk-text-uppercase"><fa-icon [icon]="'id-badge'"></fa-icon> {{ 'thingiverseDetails.creator' | translate }}</dt>
              <dd class="uk-padding-small uk-padding-remove-vertical uk-margin-small-bottom uk-text-small"><a [href]="thing.creator.public_url" target="_blank">{{ thing.creator.name }}</a></dd>
              <dt class="uk-padding-small uk-padding-remove-bottom uk-text-bold uk-text-small uk-text-uppercase"><fa-icon [icon]="'calendar'"></fa-icon> {{ 'thingiverseDetails.date' | translate }}</dt>
              <dd class="uk-padding-small uk-padding-remove-vertical uk-margin-small-bottom uk-text-small">{{ thing.added | date:'medium' }}</dd>
              <dt class="uk-padding-small uk-padding-remove-bottom uk-text-bold uk-text-small uk-text-uppercase"><fa-icon [icon]="'file'"></fa-icon> {{ 'thingiverseDetails.license' | translate }}</dt>
              <dd class="uk-padding-small uk-padding-remove-vertical uk-margin-small-bottom uk-text-small">{{ thing.license }}</dd>
              <dt class="uk-padding-small uk-padding-remove-bottom uk-text-bold uk-text-small uk-text-uppercase"><fa-icon [icon]="'tag'"></fa-icon> {{ 'thingiverseDetails.tags' | translate }}</dt>
              <dd class="uk-padding-small uk-padding-remove-vertical uk-margin-small-bottom uk-text-small uk-margin-small-top"><span class="uk-label uk-label-primary uk-text-bold uk-margin-small-right" *ngFor="let tag of thing.tags">{{ tag.name }}</span>
              </dd>
            </dl>

            <hr>

            <ng-container *ngFor="let part of thing.details_parts">

              <div class="uk-margin-small-top uk-margin-small-bottom" *ngIf="part.data">

                <h4 class="uk-text-uppercase uk-text-bold uk-padding-small uk-padding-remove-vertical">{{ part.name }}</h4>

                <div *ngIf="part.name === 'Summary'">

                  <div class="uk-padding-small uk-padding-remove-vertical" *ngFor="let summary of part.data" [innerHTML]="summary.content"></div>

                </div>

                <div *ngIf="part.name === 'Print Settings'">

                  <table class="uk-table uk-table-divider uk-table-striped uk-table-small">

                    <tbody>

                    <tr *ngFor="let setting of getPrintSettings(part.data[0])">

                      <th class="uk-text-bold uk-table-middle">{{ setting.name }}</th>
                      <td *ngIf="setting.name !== 'notes'">{{ setting.value }}</td>
                      <td *ngIf="setting.name === 'notes'"><div [innerHTML]="setting.value"></div></td>

                    </tr>

                    </tbody>

                  </table>

                </div>

                <div *ngIf="part.name === 'How I Designed This' || part.name === 'Custom Section'">

                  <div class="uk-padding-small uk-padding-remove-vertical" *ngFor="let data of part.data">

                    <img *ngIf="data.image" [attr.data-src]="data.image" width="600" height="600" uk-img>

                  </div>

                </div>

              </div>

            </ng-container>

          </div>

        </div>

        <div class="uk-width-2-5@m uk-background-default uk-border-left">

          <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow>

            <ul class="uk-slideshow-items">

              <li *ngFor="let image of images"><img [src]="image.sizes[5].url" [alt]="image.name" uk-cover></li>

            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

          </div>

          <div class="uk-padding">

            <h3 class="uk-text-bold uk-text-uppercase uk-margin-remove">{{ 'thingiverseDetails.files' | translate }}</h3>

            <hr>

            <div class="uk-grid uk-grid-match" uk-grid>

              <ng-container *ngFor="let file of files">

                <div class="uk-width-1-3">

                  <div class="uk-card uk-card-hover uk-border uk-position-relative uk-flex uk-flex-column">

                    <div class="uk-card-media">

                      <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">

                        <img [attr.data-src]="file.default_image && file.default_image.sizes ? file.default_image.sizes[5].url : file.thumbnail" width="600" height="600" [alt]="file.name" uk-img>

                      </div>

                    </div>

                    <div class="uk-card-body uk-padding-small uk-flex-1 uk-flex uk-flex-middle uk-flex-center">

                      <div class="uk-text-center">

                        <h6 class="uk-margin-remove uk-text-bold uk-text-center uk-text-break" style="word-break: break-word;">{{ file.name }}</h6>
                        <p class="uk-margin-remove uk-text-muted uk-text-small uk-text-uppercase">{{ file.formatted_size }}</p>

                      </div>

                    </div>

                    <div class="uk-card-footer uk-background-muted uk-padding-small uk-border-remove uk-text-center">

                      <a *ngIf="file.default_image" [href]="file.default_image.url" target="_blank" class="uk-button uk-button-secondary uk-width-1-1"><fa-icon [icon]="'download'"></fa-icon></a>
                      <a *ngIf="!file.default_image" [href]="file.public_url" target="_blank" class="uk-button uk-button-secondary uk-width-1-1"><fa-icon [icon]="'eye'"></fa-icon></a>

                    </div>

                  </div>

                </div>

              </ng-container>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</ng-container>

<ng-template #loadingDetails>

  <span class="uk-button uk-button-large uk-button-muted uk-width-1-1"><fa-icon [icon]="'spinner'" [spin]="true" class="uk-margin-small-right"></fa-icon>{{ 'thingiverseDetails.loading' | translate }} </span>

</ng-template>
